.indicator-test {
    overflow: hidden;
}

.indicator-test .wrapper {
    position: relative;
    margin: auto;
    overflow: hidden;
    max-width: 100%;
}
.indicator-test .meter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.indicator-test .circle {
    fill: none;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.indicator-test .outline, .mask {
    stroke: #dadada;
}
.indicator-test .range {
    stroke: #4dff6c;
}

.indicator-test .body-meter-needle {
    position: absolute;
    top: 45px;
    left: 50%;
    z-index: 2;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-animation: shaking 1.5s ease-in-out infinite;
    animation: shaking 1.5s ease-in-out infinite;
}

.indicator-test .meter-needle {
    height: 200px;
    width: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(159, 255, 81)), color-stop(50%, rgb(53, 255, 51)), color-stop(51%, transparent), to(transparent));
    background: -o-linear-gradient(top, rgb(159, 255, 81) 0%, rgb(53, 255, 51) 50%, transparent 51%, transparent 100%);
    background: linear-gradient(to bottom, rgb(159, 255, 81) 0%, rgb(53, 255, 51) 50%, transparent 51%, transparent 100%);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

@-webkit-keyframes shaking {
    0% {
        -webkit-transform: translateX(-50%) rotate(-1deg);
        transform: translateX(-50%) rotate(-1deg);
    }

    25% {
        -webkit-transform: translateX(-50%) rotate(1deg);
        transform: translateX(-50%) rotate(1deg);
    }

    50% {
        -webkit-transform: translateX(-50%) rotate(0deg);
        transform: translateX(-50%) rotate(0deg);
    }

    75% {
        -webkit-transform: translateX(-50%) rotate(1deg);
        transform: translateX(-50%) rotate(1deg);
    }

    100% {
        -webkit-transform: translateX(-50%) rotate(-1deg);
        transform: translateX(-50%) rotate(-1deg);
    }
}

@keyframes shaking {
    0% {
        -webkit-transform: translateX(-50%) rotate(-1deg);
        transform: translateX(-50%) rotate(-1deg);
    }

    25% {
        -webkit-transform: translateX(-50%) rotate(1deg);
        transform: translateX(-50%) rotate(1deg);
    }

    50% {
        -webkit-transform: translateX(-50%) rotate(0deg);
        transform: translateX(-50%) rotate(0deg);
    }

    75% {
        -webkit-transform: translateX(-50%) rotate(1deg);
        transform: translateX(-50%) rotate(1deg);
    }

    100% {
        -webkit-transform: translateX(-50%) rotate(-1deg);
        transform: translateX(-50%) rotate(-1deg);
    }
}
