.indicator-test {
    overflow: hidden;
    background-color: rgba(0,0,0,.4);
}

.indicator-test .wrapper {
    position: relative;
    margin: auto;
    overflow: hidden;
    max-width: 100%;
}
.indicator-test .meter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.indicator-test .circle {
    fill: none;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.indicator-test .outline, .mask {
    stroke: #dadada;
}
.indicator-test .range {
    stroke: #4dff6c;
}

.indicator-test .body-meter-needle {
    position: absolute;
    top: 47px;
    left: 50%;
    z-index: 2;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-animation: shaking 1.5s ease-in-out infinite;
    animation: shaking 1.5s ease-in-out infinite;
}

.indicator-test .meter-needle {
    position: relative;
    height: 200px;
    width: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(50%, white), color-stop(51%, transparent), to(transparent));
    background: -o-linear-gradient(top, white 0%, white 50%, transparent 51%, transparent 100%);
    background: linear-gradient(to bottom, white 0%, white 50%, transparent 51%, transparent 100%);

    -webkit-clip-path: ellipse(25% 50% at 50% 50%);

    clip-path: ellipse(25% 50% at 50% 50%);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.indicator-test .meter-needle:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    height: 15px;
    width: 15px;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}

@-webkit-keyframes shaking {
    0% {
        -webkit-transform: translateX(-50%) rotate(-1deg);
        transform: translateX(-50%) rotate(-1deg);
    }

    25% {
        -webkit-transform: translateX(-50%) rotate(1deg);
        transform: translateX(-50%) rotate(1deg);
    }

    50% {
        -webkit-transform: translateX(-50%) rotate(0deg);
        transform: translateX(-50%) rotate(0deg);
    }

    75% {
        -webkit-transform: translateX(-50%) rotate(1deg);
        transform: translateX(-50%) rotate(1deg);
    }

    100% {
        -webkit-transform: translateX(-50%) rotate(-1deg);
        transform: translateX(-50%) rotate(-1deg);
    }
}

@keyframes shaking {
    0% {
        -webkit-transform: translateX(-50%) rotate(-1deg);
        transform: translateX(-50%) rotate(-1deg);
    }

    25% {
        -webkit-transform: translateX(-50%) rotate(1deg);
        transform: translateX(-50%) rotate(1deg);
    }

    50% {
        -webkit-transform: translateX(-50%) rotate(0deg);
        transform: translateX(-50%) rotate(0deg);
    }

    75% {
        -webkit-transform: translateX(-50%) rotate(1deg);
        transform: translateX(-50%) rotate(1deg);
    }

    100% {
        -webkit-transform: translateX(-50%) rotate(-1deg);
        transform: translateX(-50%) rotate(-1deg);
    }
}