.indicator {
    height: 150px;
    width: 300px;
    overflow: hidden;
    display: inline-block;
    background-color: rgba(0,0,0,.2);
}

.indicator .indicator-body {
    background-color: gray;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    position: relative;
}

.indicator .indicator-body .indicator-arrow-body {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    animation: box 1s ease-in-out infinite;
}

.indicator .indicator-body .indicator-arrow-body .indicator-arrow {
    height: 300px;
    width: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #4839ef;
    transform: rotate(-30deg);
}

.indicator .indicator-body .indicator-line {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: conic-gradient(from -30deg, transparent, #000);
}

.indicator .indicator-body .indicator-line:before {
    content: '';
    height: 70%;
    width: 70%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: red;
}

@keyframes box {
    0% {
        transform:  rotate(-1deg);
    }

    25% {
        transform:  rotate(0deg);

    }

    50% {
        transform:  rotate(-1deg);

    }

    75% {
        transform:  rotate(0deg);

    }

    85% {
        transform:  rotate(-1deg);

    }

    95% {
        transform:  rotate(0deg);

    }
    0% {
        transform: rotate(-1deg);
    }
}
