.indicator {
    height: 150px;
    width: 300px;
    overflow: hidden;
    display: inline-block;
    background-color: rgba(0,0,0,.2);
    position: relative;
}

.indicator .indicator-body {
    background-color: gray;
    height: 300px;
    width: 300px;
    border-radius: 100%;
}

.indicator .indicator-body .indicator-arrow-body {
    position: absolute;
    top: 0;
    left: 49%;
    z-index: 2;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-animation: box 1.5s ease-in-out infinite;
    animation: box 1.5s ease-in-out infinite;
}

.indicator .indicator-body .indicator-arrow-body .indicator-arrow {
    height: 300px;
    width: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(65, 255, 93)), color-stop(50%, rgb(65, 255, 93)), color-stop(51%, transparent), to(transparent));
    background: -o-linear-gradient(top, rgb(65, 255, 93) 0%, rgb(65, 255, 93) 50%, transparent 51%, transparent 100%);
    background: linear-gradient(to bottom, rgb(65, 255, 93) 0%, rgb(65, 255, 93) 50%, transparent 51%, transparent 100%);
}

.indicator .indicator-body .indicator-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    -webkit-transition: 1s linear;
    -o-transition: 1s linear;
    transition: 1s linear;
    background: conic-gradient(from -30deg, transparent, #000);
}

.indicator .indicator-body .indicator-line:before {
    content: '';
    height: 70%;
    width: 70%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: white;
}

@-webkit-keyframes box {
    0% {
        -webkit-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }

    25% {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }

    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    75% {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }

    100% {
        -webkit-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
}

@keyframes box {
    0% {
        -webkit-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }

    25% {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }

    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    75% {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }

    100% {
        -webkit-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
}
